---
layout: default_style
lang: en
---
<!-- Footer -->
<footer> 
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          Hours: Monday to Saturday from 10 am to 8 pm <br> 
          Phone: {{ site.telephone_number }} <br>
          Email: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="/en/about.html"> About Us </a></p>
        <p><a href="/en/#services"> Services </a></p>
        <p><a href="/en/contact.html"> Contact </a></p>
        <!-- <p><a href="/en/blog"> Blog ( Write to us )</a></p> 
         <p><a href="/en/team"> Team ( Meet the Team )</a></p>  -->
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> Social Media</h3>
        <div id="social-icons">

          {% if site.facebook_link %}
            <a href="{{ site.facebook_link }}" class="btn-group facebook" style="display: inline-block;" >
              <i class="fa fa-facebook"></i>
             </a>
          {% endif %}

          {% if site.instagram_link %}
             <a href="{{ site.instagram_link }}" class="btn-group instagram" style="display: inline-block;">
               <i class="fa fa-instagram"></i>
             </a> 
          {% endif %}


        </div>
      </div>    
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="/en/">TIM Massages</a>. 
      <p>All rights reserved &copy; 2023 Integral Massage Therapy</p>
      <!-- <br>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p> -->
  </div>

</footer>
