<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
    <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  
      <a class="navbar-brand wow fadeInDownBig" href="/en/index.html"><img class="office-logo" src="../assets/img/slider/Office.png" alt="Office"></a>      
    </div>
  
    <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav pull-right">
        <li class="active">
          <a href="/en/">Home</a>
        </li>
        <li>
          <a href="/en/about.html">About Us</a>
        </li>
        <li>
          <a href="/en/#services">Services</a>
        </li>
        <!--<li>
          <a href="/en/team.html">Team</a>
        </li>-->
        <li>
          <a href="/en/contact.html"><span>Contact</span></a>
        </li>
      </ul>         
    </div>
    </div>
   
    <ul class="lang-switch">
      {% if page.url contains '/en/' %}
        <!-- In English version, link to Spanish -->
        {% assign spanish_url = page.url | remove: '/en' %}
        <li><a href="{{ spanish_url }}">🇪🇸 Español</a></li>
      {% else %}
        <!-- In Spanish version, link to English -->
        <li><a href="/en{{ page.url }}">🇺🇸 English</a></li>
      {% endif %}
    </ul>
  
  </nav>
  
  <!-- End Header -->
  