

<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}
  
    
  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/slider/velas.avif"  alt="Candle1" class="img-centered carousel-img">
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="../assets/img/slider/flores.avif" alt="Flowers2" class="img-centered carousel-img">
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="../assets/img/slider/mujer-joven-masaje-facial-relajante-salon-spa_176420-7523.avif" alt="Relaxing facial massage" class="img-centered carousel-img">
                        </div>
                        <!-- End Slide 3 -->
                       
                         <!-- Begin Slide 4 -->
                         <div class="item">
                            <img src="../assets/img/slider/mujer-relajante-spa_329181-13161.avif" alt="Relaxing massage" class="img-centered carousel-img">
                        </div>
                        <!-- End Slide 4 -->

                         <!-- Begin Slide 5 -->
                         <div class="item">
                            <img src="../assets/img/slider/flores2.jpg" alt="Flowers 2" class="img-centered carousel-img">
                        </div>
                        <!-- End Slide 5-->

                        <!-- Begin Slide 6 -->
                        <div class="item">
                            <img src="../assets/img/slider/flores3.jpg" alt="Flowers 3" class="img-centered carousel-img">
                        </div>
                        <!-- End Slide 6-->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title animate__animated animate__rubberBand">TIM Massages</h3>

                    <p class="services-header-body"><em> "A Guarantee of Physical and Emotional Well-being"</em>  </p><hr>
                </div>
            </div>

           <!-- Begin Services Row 1 -->
           <div class="row services-row services-row-head services-row-1">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                    <img src="../assets/img/slider/masajepiedrascalientes.avif"  alt="Hot stones" class="services-img">
                    <h4 class="services-title">Hot Stone Massage</h4>
                    <p class="services-body">A relaxing therapy of oriental origin that works not only on the physical level but also on the mental, as it helps to relax muscle tension and achieve perfect energy balance.</p>
                    <p id="aboutmore1" class="abt-more">For this massage, smooth hot stones of volcanic origin are used, which are slid over the skin through a relaxing massage.</p>
                    <button onclick="toggleContent('aboutmore1', this)" class="read-more">Read more</button>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group" data-wow-offset="40">
                    <img src="../assets/img/slider/californiano.jpeg" alt="Californian" class="services-img">
                    <h4 class="services-title">Californian Massage</h4>
                    <p class="services-body">A relaxation massage technique where the therapist moves over the body with long strokes, stretches, and twists creating fluidity to relax the nervous system.</p>
                    <p id="aboutmore2" class="abt-more">What sets it apart from other massages is the approach: during the session, the therapist aims to harmonize their energy holistically with the patient’s energy, creating a unique vibrational field that allows the patient to let go and release accumulated stress and tension.</p>
                    <button onclick="toggleContent('aboutmore2', this)" class="read-more">Read more</button>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                    <img src="../assets/img/slider/ayurvedico.jpeg" alt="Ayurvedic" class="services-img">
                    <h4 class="services-title">Ayurvedic Massage</h4>
                    <p class="services-body">A traditional Indian massage using pure essential oils with the purpose of balancing the energies between body and mind.</p>
                    <p id="aboutmore3" class="abt-more">It eliminates toxins, improves the immune and circulatory systems, and mainly achieves deep relaxation of the nervous system.</p>
                    <button onclick="toggleContent('aboutmore3', this)" class="read-more">Read more</button>
                </div>        
            </div>
           </div>
           <!-- End Services Row 1 -->

           <!-- Begin Services Row 2 -->
           <div class="row services-row services-row-tail services-row-2">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <img src="../assets/img/slider/masajechampi.jpeg" alt="Champi" class="services-img">
                        <h4 class="services-title">Champi</h4>
                        <p class="services-body">A massage focused on a fundamental part of the body: the head. It is ideal for cases of anxiety, worry, tiredness, and physical and mental exhaustion.</p>
                        <p id="aboutmore4" class="abt-more">This therapy relaxes by stimulating blood flow to the scalp, also performing lymphatic drainage that disperses toxins accumulated in these areas. The therapist also focuses on the upper back, shoulders, neck, scalp, and face.</p>
                        <button onclick="toggleContent('aboutmore4', this)" class="read-more">Read more</button>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <img src="../assets/img/slider/masajedeportivo.webp" alt="Sports" class="services-img">
                        <h4 class="services-title">Sports Massage</h4>
                        <p class="services-body">A massage type that prepares tissues for physical effort, helps prevent and recover from injuries both during training and competition.</p>
                        <p id="aboutmore5" class="abt-more">For this reason, it is perhaps the most appreciated physiotherapeutic technique by athletes. This massage aims to increase circulation and temperature, focusing on muscle groups that will be primarily used in subsequent activities. It helps reduce the energy expenditure during an active warm-up.</p>
                        <button onclick="toggleContent('aboutmore5', this)" class="read-more">Read more</button>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <img src="../assets/img/slider/drenajelinfatico.jpeg" alt="Lymphatic Drainage" class="services-img">
                        <h4 class="services-title">Lymphatic Drainage</h4>
                        <p class="services-body">A massage that stimulates the lymphatic system to eliminate excess fluids, toxins, and wastes.</p>
                        <p id="aboutmore6" class="abt-more">It is a gentle, rhythmical, and superficial technique that acts on the skin and lymphatic vessels, improving immune and circulatory function, reducing edema and inflammation.</p>
                        <button onclick="toggleContent('aboutmore6', this)" class="read-more">Read more</button>
                    </div>
                </div>
           </div>
           <!-- End Services Row 2 -->

           <!-- Testimonials -->
           <div class="row services-row">
               <div class="col-lg-12">
                <h3 class="services-header-title animate__animated animate__fadeInDown">What our clients say about TIM</h3><br>
                <div class="testimonials-container">
                    <div class="testimonial-item animate__animated animate__fadeInUp">
                        <p class="testimonial-text"><i class="fas fa-quote-left"></i> I have been attending TIM massages for years. The professional and serene atmosphere they provide allows me to fully relax and recharge my energy. I highly recommend their massages! <i class="fas fa-quote-right"></i></p>
                        <p class="testimonial-author">- Ana R.</p>
                    </div>
                    <div class="testimonial-item animate__animated animate__fadeInUp">
                        <p class="testimonial-text"><i class="fas fa-quote-left"></i> The Ayurvedic massage has changed my life, I feel much more balanced physically and mentally. The therapists are very skilled and attentive. A real sanctuary of wellbeing. <i class="fas fa-quote-right"></i></p>
                        <p class="testimonial-author">- John D.</p>
                    </div>
                    <div class="testimonial-item animate__animated animate__fadeInUp">
                        <p class="testimonial-text"><i class="fas fa-quote-left"></i> The lymphatic drainage helped me recover faster after an injury and reduced my swelling noticeably. I appreciate the personalized attention and professionalism at TIM. <i class="fas fa-quote-right"></i></p>
                        <p class="testimonial-author">- Maria S.</p>
                    </div>
                </div>
               </div>
           </div>

        </div>
    </section>
    <!-- End #services-section -->

</body>
</html>
  
