<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}
  
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">   
       
    </head>
  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/slider/velas.avif"  alt="Canva1" class="img-centrada carousel-img">
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="../assets/img/slider/flores.avif" alt="Canva2" class="img-centrada carousel-img">
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="../assets/img/slider/mujer-joven-masaje-facial-relajante-salon-spa_176420-7523.avif" alt="masaje rela" class="img-centrada carousel-img">
                        </div>
                        <!-- End Slide 3 -->
                       
                         <!-- Begin Slide 4 -->
                         <div class="item">
                            <img src="../assets/img/slider/mujer-relajante-spa_329181-13161.avif" alt="masaje relax" class="img-centrada carousel-img">
                        </div>
                        <!-- End Slide 4 -->

                         <!-- Begin Slide 5 -->
                         <div class="item">
                            <img src="../assets/img/slider/flores2.jpg" alt="flores2" class="img-centrada carousel-img">
                        </div>
                        <!-- End Slide 5-->

                        <!-- Begin Slide 6 -->
                        <div class="item">
                            <img src="../assets/img/slider/flores3.jpg" alt="flores3" class="img-centrada carousel-img">
                        </div>
                        <!-- End Slide 6-->

                     

                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title animate__animated animate__rubberBand">TIM Masajes</h3>

                    <p class="services-header-body"><em> "Una Garantia de Bienestar Físico y Emocional"</em>  </p><hr>
                </div>
            </div>

    
      
           <!-- Begin Services Row 1 -->
           <div class="row services-row services-row-head services-row-1">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                                <img src="../assets/img/slider/masajepiedrascalientes.avif"  alt="piedras calientes" class="services-img">
                                <h4 class="services-title">Masajes con piedras calientes</h4>
                                <p class="services-body"> Esta terapia relajante de tradición oriental actúa tanto en el plano físico como mental, aliviando tensiones musculares y promoviendo un equilibrio energético óptimo para el bienestar integral.</p>
                                <p id="aboutmore1" class="abt-more">Este masaje se realiza utilizando piedras volcánicas lisas y calientes, que se deslizan suavemente sobre la piel para proporcionar una experiencia profundamente relajante y restauradora.</p>
                                <button onclick="toggleContent('aboutmore1', this)" class="read-more">Leer más</button>
                            
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="services-group" data-wow-offset="40">
                                <img src="../assets/img/slider/californiano.jpeg" alt="californiano" class="services-img">
                                
                                <h4 class="services-title">Californiano</h4>
                                <p class="services-body">Técnica de masaje relajante que combina movimientos largos, estiramientos y torsiones suaves, promoviendo la fluidez corporal y la relajación profunda del sistema nervioso.</p>
                                <p id="aboutmore2" class="abt-more"> Su principal diferencia radica en el enfoque: durante la sesión, el terapeuta busca armonizar de manera holística su energía con la del paciente, creando un campo vibracional único que facilita la relajación profunda y la liberación del estrés y las tensiones acumuladas.</p>
                                <button onclick="toggleContent('aboutmore2', this)" class="read-more">Leer más</button>
                            </div>
                     </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                         <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/ayurvedico.jpeg" alt="ayurvedico" class="services-img">
                                
                                <h4 class="services-title">Ayurvedico</h4>
                                <p class="services-body">Masaje tradicional indio que emplea aceites esenciales puros con el objetivo de equilibrar las energías del cuerpo y la mente, promoviendo armonía y bienestar integral.</p>
                                <p id="aboutmore3" class="abt-more">Favorece la eliminación de toxinas y estimula los sistemas inmunológico y circulatorio, logrando principalmente una relajación profunda del sistema nervioso.

                                </p>
                                <button onclick="toggleContent('aboutmore3', this)" class="read-more">Leer más</button>
                         </div>        
                     </div>
                     </div>


                     <!-- End Serivces Row 1 -->


                    <!-- Begin Services Row 2 -->

                     <div class="row services-row services-row-tail services-row-2">
                   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <img src="../assets/img/slider/masajechampi.jpeg" alt="champi" class="services-img">
                            <h4 class="services-title">Champi</h4>
                            <p class="services-body">Masaje enfocado en la cabeza, ideal para aliviar la ansiedad, el estrés, el cansancio y el agotamiento tanto físico como mental, promoviendo una sensación profunda de bienestar y calma.</p>
                            <p id="aboutmore4" class="abt-more">Terapia profundamente relajante que estimula la circulación sanguínea en el cuero cabelludo, favoreciendo el drenaje linfático y la eliminación de toxinas. La terapeuta trabaja especialmente en la parte superior de la espalda, hombros, cuello, cuero cabelludo y rostro, generando una sensación de alivio y renovación integral.</p>
                                <button onclick="toggleContent('aboutmore4', this)" class="read-more">Leer más</button>
                                
                        </div>
                    </div>
            
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated zoomIn" data-wow-offset="40">
                            <img src="../assets/img/slider/masajedeportivo.webp" alt="deportivo" class="services-img">
                          
                            <h4 class="services-title">Deportivo</h4>
                            <p class="services-body">Masaje especializado en preparar los tejidos para la actividad física, favoreciendo la prevención y recuperación de lesiones tanto durante el entrenamiento como en la competición.</p>
                                <p id="aboutmore5" class="abt-more">Por su efectividad, este tipo de masaje es una de las técnicas fisioterapéuticas más valoradas por los deportistas. Su objetivo es aumentar la circulación y la temperatura corporal, enfocándose en los grupos musculares que participarán activamente en la práctica deportiva. Además, permite optimizar el rendimiento al reducir el esfuerzo requerido en el calentamiento activo.</p>
                                <button onclick="toggleContent('aboutmore5', this)" class="read-more">Leer más</button>
                                
                        </div>
                    </div>
            
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/drenajelinfatico.jpeg" alt="drenaje" class="services-img">

                            <h4 class="services-title">Drenaje Linfático</h4>
                            <p class="services-body">Es un tipo de masaje que prepara los tejidos para el esfuerzo deportivo, prevención y recuperación de lesiones tanto en entrenamiento como en competición. </p>
                               <p id="aboutmore6" class="abt-more"> Por este motivo, el masaje es tal vez, dentro de las técnicas fisioterapéuticas, la más apreciada por el deportista. En este tipo de masaje se busca aumentar la circulación y la temperatura y se manipularán especialmente los grupos musculares que van a intervenir preferentemente en la actividad posterior.
                                Es interesante ya que permite reducir el gasto de energía que emplea el deportista en un calentamiento activo.</p>
                                <button onclick="toggleContent('aboutmore6', this)" class="read-more">Leer más</button>
                                
                        </div>
                    </div>
                </div>
      <!-- End Serivces Row 2 -->
      
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                            <img src="../assets/img/slider/masajecirculatorio.jpeg" alt="circulatorio" class="services-img">
                            
                            <h4 class="services-title">Circulatorio</h4>
                            <p class="services-body">Técnica especializada en estimular la circulación sanguínea y linfática, lo que permite una mejor distribución de nutrientes hacia los órganos y tejidos.</p>
                                <p id="aboutmore7" class="abt-more"> Además, favorece la eliminación de toxinas y desechos, contribuyendo al bienestar y equilibrio del organismo. </p>
                            <button onclick="toggleContent('aboutmore7', this)" class="read-more">Leer más</button>
                            
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/Maderoterapia-corporal.jpg" alt="maderoterapia" class="services-img">
                            
                            <h4 class="services-title">Maderoterapia</h4>
                            <p class="services-body">La maderoterapia es una técnica que utiliza instrumentos de madera especialmente diseñados para estimular el cuerpo, reduciendo el estrés y aliviando dolores musculares y articulares.</p> 
                                <p id="aboutmore8" class="abt-more">También es eficaz para tratar la retención de líquidos, la grasa localizada, combatir la celulitis y ayudar a reafirmar y tonificar los tejidos corporales.</p>
                            <button onclick="toggleContent('aboutmore8', this)" class="read-more">Leer más</button>
                            
                        </div>
                    </div>
    
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/bambuterapia.jpeg" alt="bambuterapia" class="services-img">
                           
                            <h4 class="services-title">Bambuterapia</h4>
                            <p class="services-body">Técnica que emplea varas de bambú aplicadas con firmeza y deslizamientos suaves sobre el cuerpo.</p>
                            <p id="aboutmore9" class="abt-more" >Es reconocida por sus beneficios estéticos, como la reducción de medidas, grasa localizada y celulitis, además de ofrecer una profunda relajación muscular y alivio de tensiones.</p>
                            <button onclick="toggleContent('aboutmore9', this)" class="read-more">Leer más</button>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/chocoterapia.jpeg" alt="chocoterapia" class="services-img">
                            
                            <h4 class="services-title">Chocoterapia</h4>
                            <p class="services-body">Terapia que combina masajes suaves corporales y faciales con la aplicación de cacao sobre la piel, aprovechando sus propiedades para mejorar el bienestar general.</p>
                                <p id="aboutmore10" class="abt-more">Estimula la producción de colágeno, hidrata, desintoxica y ofrece efectos tonificantes y renovadores, dejando la piel visiblemente más firme, luminosa y rejuvenecida.</p>
                                <button onclick="toggleContent('aboutmore10', this)" class="read-more">Leer más</button>
                             
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/masajereductor.jpeg" alt="reductor" class="services-img">
                            
                            <h4 class="services-title">Reductores</h4>
                            <p class="services-body">Masaje reductor enfocado en eliminar la grasa localizada y estilizar el contorno corporal, creando una silueta más armoniosa y estética.</p>
                            <p id="aboutmore11" class="abt-more">Se aplica con una presión firme y a una velocidad superior a la de los masajes relajantes, lo que potencia sus efectos modeladores.</p>
                                <button onclick="toggleContent('aboutmore11', this)" class="read-more">Leer más</button>
                                
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/reflexologia.jpeg" alt="reflexologia" class="services-img">
                           
                            <h4 class="services-title">Reflexologia</h4>
                            <p class="services-body">Técnica de masaje aplicada en manos y pies que, mediante la estimulación de puntos reflejos con presiones, frotaciones y amasamientos, busca restablecer la salud integral del paciente.</p> 
                            <p id="aboutmore12" class="abt-more"> Promueve la liberación de bloqueos energéticos y emocionales, estimula la circulación sanguínea y nerviosa, e induce una relajación profunda en todo el organismo.</p>
                            <button onclick="toggleContent('aboutmore12', this)" class="read-more">Leer más</button>
                           
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/reiki.jpeg" alt="reiki" class="services-img">
                     
                            <h4 class="services-title">Reiki</h4>
                            <p class="services-body">Técnica de canalización y transmisión de energía vital mediante la imposición de manos, diseñada para equilibrar los chakras del cuerpo.</p>
                            <p id="aboutmore13" class="abt-more">Busca promover el bienestar integral en todos los niveles: físico, mental, emocional y espiritual. </p>
                            <button onclick="toggleContent('aboutmore13', this)" class="read-more">Leer más</button>
                             
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/shiatsu.jpeg" alt="shiatsu" class="services-img">
                            
                            <h4 class="services-title">Shiatsu</h4>
                            <p class="services-body">Técnica japonesa que aplica presión con los dedos y la palma de las manos para equilibrar la energía del organismo,</p> 
                                <p id="aboutmore14" class="abt-more">potenciando su capacidad natural de autocuración.</p>
                            <button onclick="toggleContent('aboutmore14', this)" class="read-more">Leer más</button>
                            
                        </div>
                    </div>
    
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/masaje-pindas-aromaticas.jpg" alt="pindas" class="services-img">
                         
                            <h4 class="services-title">Pindas Aromaticas</h4>
                            <p class="services-body">El masaje con pindas busca equilibrar mente, cuerpo y alma a través de movimientos relajantes.</p>
                                <p id="aboutmore15" class="abt-more">Las pindas son bolsas hechas a mano, rellenas con una mezcla natural de hierbas aromáticas y medicinales combinadas con aceites esenciales, que se calientan al vapor para potenciar sus propiedades calmantes, hidratantes y desintoxicantes al aplicarlas sobre el cuerpo.</p>
                                <button onclick="toggleContent('aboutmore15', this)" class="read-more">Leer más</button>
                                  
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/tailandes.webp" alt="tailandes" class="services-img">
                         
                            <h4 class="services-title">Tailandes</h4>
                            <p class="services-body">
                                Masaje profundo y de estiramiento diseñado para aumentar la flexibilidad de músculos, ligamentos y tendones, mejorar la movilidad articular, y potenciar la energía vital y la capacidad respiratoria.
                                <p id="aboutmore16" class="abt-more">Su objetivo es eliminar el estrés y restaurar la tranquilidad, facilitando la libre circulación de la energía a través del sistema de meridianos que recorren el cuerpo.</p>
                                <button onclick="toggleContent('aboutmore16', this)" class="read-more">Leer más</button>
                                
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/vendasfrias.webp" alt="vendas frias" class="services-img">
                            
                            <h4 class="services-title">Vendas Frias</h4>
                            <p class="services-body">Terapia orientada a la reducción de peso, disminución de celulitis y mejora de la firmeza corporal.</p>
                                <p id="aboutmore17" class="abt-more">Se utiliza gel criógeno para potenciar la quema de grasas y optimizar los resultados.</p>
                            <button onclick="toggleContent('aboutmore17', this)" class="read-more">Leer más</button>
                          
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/tuina.webp" alt="tuina" class="services-img">
                            
                            <h4 class="services-title">Tuina</h4>
                            <p class="services-body">Técnica que aporta equilibrio físico, mental y emocional, promoviendo una relajación profunda a la vez que estimula el organismo. </p>
                                <p id="aboutmore18" class="abt-more">Está especialmente recomendada para tratar problemas musculares, óseos y ligamentarios, siendo muy efectiva en lesiones deportivas y afecciones específicas como ciática, artritis, espasmos musculares y dolores en cuello, espalda, hombros, cadera, piernas, rodillas y tobillos.</p>
                                <button onclick="toggleContent('aboutmore18', this)" class="read-more">Leer más</button>
                                
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/modelador.jpeg" alt="modelador" class="services-img">
                         
                            <h4 class="services-title">Modelador</h4>
                            <p class="services-body">Tratamiento diseñado para definir las curvas del cuerpo mediante la reducción de peso y la eliminación de grasa localizada,</p>
                                <p id="aboutmore19" class="abt-more">especialmente en muslos, caderas y abdomen.</p>
                            <button onclick="toggleContent('aboutmore19', this)" class="read-more">Leer más</button>
                            
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/holistico.jpeg" alt="holistico" class="services-img">
                           
                            <h4 class="services-title">Holistico</h4>
                            <p class="services-body">Masaje suave que estimula los músculos para favorecer el drenaje y redireccionamiento del sistema linfático.</p>
                            <p id="aboutmore20" class="abt-more">Extremadamente relajante, esta técnica trata el cuerpo y la mente de manera integral mediante diversas modalidades de masaje.</p>
                            <button onclick="toggleContent('aboutmore20', this)" class="read-more">Leer más</button>
                           
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/guasha.webp" alt="guasha" class="services-img">
                            
                            <h4 class="services-title">Guasha Facial</h4>
                            <p class="services-body">Piedra suave de jade o cuarzo, de tamaño mediano, utilizada en masajes faciales para liberar toxinas y activar la circulación sanguínea.</p>
                                <p id="aboutmore21" class="abt-more">Su uso regular aporta un efecto rejuvenecedor, siendo un complemento ideal en tratamientos antiedad para suavizar las arrugas superficiales causadas por la expresión facial cotidiana.</p>
                            <button onclick="toggleContent('aboutmore21', this)"  class="read-more">Leer más</button>
                            
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/peeling.jpeg" alt="peeling" class="services-img">
                          
                            <h4 class="services-title">Peeling</h4>
                            <p class="services-body">Tratamiento exfoliante que emplea agentes químicos o mecánicos para renovar las capas superficiales de la piel y eliminar imperfecciones.</p>
                            <p id="aboutmore22" class="abt-more"> Su objetivo principal es reducir arrugas, lograr una piel más rejuvenecida y luminosa, además de ser efectivo para el tratamiento de acné y manchas cutáneas.</p>
                                <button onclick="toggleContent('aboutmore22', this)"  class="read-more">Leer más</button>
                               
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/dermaplaning.jpeg" alt="dermaplaning" class="services-img">
                            
                            <h4 class="services-title">Dermaplaning</h4>
                            <p class="services-body">Técnica de exfoliación física que utiliza un bisturí para eliminar suavemente la capa superficial de células muertas, revelando una piel más luminosa y tersa.</p>
                                <p id="aboutmore23" class="abt-more">Este procedimiento indoloro se asemeja a la sensación de afeitar la piel, proporcionando una renovación similar a pelar una cebolla, donde la capa interna es más suave y brillante.</p>
                                <button onclick="toggleContent('aboutmore23', this)" class="read-more">Leer más</button>
                                
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/radiofrecuenciafacial.jpeg" alt="radio facial" class="services-img">
                           
                            <h4 class="services-title">Radiofrecuencia Facial</h4>
                            <p class="services-body">Tratamiento no invasivo e indoloro diseñado para combatir la laxitud cutánea. Estimula la circulación sanguínea y la producción de colágeno y elastina, generando un efecto tensor comparable al lifting facial, pero sin necesidad de cirugía.</p>
                            <p id="aboutmore24" class="abt-more">Es ideal para pacientes con flacidez leve o moderada en los tejidos faciales.</p>
                            <button onclick="toggleContent('aboutmore24', this)" class="read-more">Leer más</button>
                        
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/electroporacionfacial.avif" alt="electroporacionfacial" class="services-img">
                     
                            <h4 class="services-title">Electroporación Facial</h4>
                            <p class="services-body">Se trata de una onda pulsada y atérmica que actúa sobre la membrana celular, modificando la estructura de los lípidos y aumentando su permeabilidad.</p>
                                <p id="aboutmore25" class="abt-more">Esta técnica contribuye a reducir inflamaciones en distintas áreas del cuerpo, facilita el tratamiento de edemas y acumulaciones de líquidos, y ayuda a disminuir el tamaño de hematomas.</p>
                                <button onclick="toggleContent('aboutmore25', this)" class="read-more">Leer más</button>
                            
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/radiofrecuenciacorporal.jpeg" alt="radiofrecuencia corporal" class="services-img">

                            <h4 class="services-title">Radiofrecuencia Corporal</h4>
                            <p class="services-body">Tratamiento líder para combatir la celulitis, la flacidez cutánea y la reducción de volumen corporal.</p>
                                <p id="aboutmore26" class="abt-more">Consiste en la aplicación controlada de ondas electromagnéticas de alta frecuencia que calientan las distintas capas de la dermis, estimulando la formación de nuevo colágeno, mejorando la circulación sanguínea y favoreciendo el drenaje linfático.</p>
                                <button onclick="toggleContent('aboutmore26', this)" class="read-more">Leer más</button>
                                
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/ozonoterapia1.jpeg" alt="ozonoterapia" class="services-img">
                            
                            <h4 class="services-title">Ozonoterapia</h4>
                            <p class="services-body">El paciente permanece entre 20 y 25 minutos dentro de una cápsula especializada. Los beneficios de este tratamiento incluyen:
                                * Potente efecto antioxidante que ralentiza el envejecimiento celular.
                                * Activación del metabolismo de los glóbulos rojos, mejorando el transporte de oxígeno a las células.</p>
                                <p id="aboutmore27" class="abt-more">* Mejora de la función celular y de la circulación general.
                                * Reducción de celulitis y estrías.
                                * Disminución de la adiposidad localizada.
                                * Alivio de dolores crónicos.</p>
                                <button onclick="toggleContent('aboutmore27', this)" class="read-more">Leer más</button>
                            
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                            <img src="../assets/img/slider/ventosasfaciales.avif" alt="ventosas faciales" class="services-img">
                           
                            <h4 class="services-title">Ventosas Faciales</h4>
                            <p class="services-body">Es un tratamiento indicado para: 
                                Reducir la hinchazón (mitigando ojeras y doble mentón).</p>
                                <p id="aboutmore28" class="abt-more">* Suavizar las líneas finas y las arrugas.
                                     * Reafirmar los pómulos y el óvalo facial o tratar las cicatrices.</p>
                                <button onclick="toggleContent('aboutmore28', this)" class="read-more">Leer más</button>
                                
                            
                        </div>
                    </div>


            </div>
            <!-- End Serivces Row 1 -->
      
            <!-- Begin Services Row 2 -->
            
            <!-- End Serivces Row 2 -->
    
        </div>   
         
    </section>
    <!-- End #services-section -->
    <!-- Funcion para el botton leer mas -->
    <script>
         function toggleContent(id, button) {
  var content = document.getElementById(id);
  content.classList.toggle("show");
  if (content.classList.contains("show")) {
    button.innerHTML = "Leer menos";
  } else {
    button.innerHTML = "Leer más";
  }
}

    </script>
  
      <!-- Botón de WhatsApp flotante -->
<a href="https://wa.me/5491123802901" class="float" target="_blank">
    <img src="../assets/ico/icons8-whatsapp-48.png" width="48" height="48" alt="WhatsApp Logo" class="whatsapp-logo"/>
    <span class="whatsapp-text">Reserva tu turno</span>
    </a>
<!-- Botón para subir fijo a la izquierda -->
<button onclick="topFunction()" id="btnUp" title="Ir arriba">⬆️</button>

<style>
  #btnUp {
    position: fixed;
    bottom: 40px;
    left: 20px;
    z-index: 1000;
    border: none;
    outline: none;
    background-color: #f6c5cf;
    color: white;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 50%;
    font-size: 22px;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 0;              /* oculto inicialmente */
    pointer-events: none;    /* no interactúa mientras está oculto */
  }
  #btnUp:hover {
    background-color: #f6c5cf;
  }
  #btnUp.show {
    opacity: 1;             /* visible */
    pointer-events: auto;   /* sí interactúa */
  }
</style>

<script>
  // Mostrar botón cuando se baja 100px
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    const btn = document.getElementById("btnUp");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      btn.classList.add("show");
    } else {
      btn.classList.remove("show");
    }
  }

  function topFunction() {
    window.scrollTo({top: 0, behavior: 'smooth'});
  }
</script>

  </body>
{% include footer.html %}
  
</html>
